# Copiez ce fichier en ".env" et remplissez vos identifiants Gmail
# Activez "Mots de passe d'application" dans votre compte Google :
# myaccount.google.com → Sécurité → Connexion → Mots de passe des applications

EMAIL_SENDER=votre_adresse@gmail.com
EMAIL_PASSWORD=xxxx_xxxx_xxxx_xxxx
